<p><%= @movie.title %></p>
<p><%= @movie.studio %></p>
<p><%= @movie.year %></p>
<p><%= @movie.rating %></p>
<p><%= @movie.genre %></p>
<p><%= @movie.cast %></p>
<p><%= @movie.screen_writer %></p>
<p><%= @movie.director %></p>
<p><%= link_to "Edit", edit_movie_path(@movie) %></p>
<p><%= link_to "Delete", movie_path(@movie), method: :delete %></p>
<p><%= link_to "Back to Index", movies_path %></p>

<h3>Write Review</h3>

<%= render "reviews/review_form" %>

<% unless @reviews.nil? %>
  <% @reviews.each do |review| %>
  <div>
    <%= review.title %>
    <%= review.body %>
    <%= review.rating %>
      <% if @user.id == review.user_id %>
        <%= link_to "Edit Review", edit_movie_review_path(review) %>
        <%= link_to "Delete Review", movie_review_path(review), method: :delete %>
      <% end %>
    <% end %>
  </div>
<% end %>
