<p><%= @movie.title %></p>
<p><%= @movie.studio %></p>
<p><%= @movie.year %></p>
<p><%= @movie.rating %></p>
<p><%= @movie.genre %></p>
<p><%= @movie.cast %></p>
<p><%= @movie.screen_writer %></p>
<p><%= @movie.director %></p>
<p><%= link_to "Edit", edit_movie_path(@movie) %></p>
<p><%= link_to "Delete", movie_path(@movie), method: :delete %></p>
<p><%= link_to "Back to Index", movies_path %></p>

<% unless @reviews.nil? %>
  <% @reviews.each do |review| %>
    <p>
      <%= review.title %>
      <%= review.rating %>
      <%= review.body %>
    </p>
  <% end %>
<% end %>

<%= render "./reviews/review_form" %>
