<p><%= @movie.title %></p>
<p><%= @movie.studio %></p>
<p><%= @movie.year %></p>
<p><%= @movie.rating %></p>
<p><%= @movie.genre %></p>
<p><%= @movie.cast %></p>
<p><%= @movie.screen_writer %></p>
<p><%= @movie.director %></p>
<p><%= link_to "Back to Index", movies_path %></p>
