<p><%= image_tag @user.image %></p>
<p><%= @user.first_name %>
<%= @user.last_name %></p>
<p><%= @user.username %></p>
<p><%= @user.email %></p>

<% @user_movies.each do |movie| %>
  <%= link_to movie.title, movie_path(movie) %>
<% end %>

<% @user_reviews.each do |review| %>
  <%= link_to review.title, movie_path(review.movie) %>
<% end %>

<p><%= link_to('Edit Registration', edit_user_registration_path) %></p> 
