<div class="user-show-page row">
  <div class="user-show small-4 columns">
    <p class="user-image"><%= image_tag @user.image %></p>
  </div>

  <div class="small-4 columns">
    <p class="user-text"><%= @user.first_name %> <%= @user.last_name %></p>
    <p class="user-text"><%= @user.username %></p>
    <p class="user-text"><%= @user.email %></p>
    <% if @user.id == current_user.id %>
      <p class="user-text"><%= link_to('Edit Profile', edit_user_registration_path) %></p>
    <% end %>
  </div>

  <div class="user-reviews small-4 columns">
    <p class="row">My Movies</p>
    <ul>
      <% @user_movies.each do |movie| %>
        <li><%= link_to movie.title, movie_path(movie) %></li>
      <% end %>
    </ul>

    <p class="row">My Reviews</p>
    <ul>
      <% @user_reviews.each do |review| %>
        <li><%= link_to review.title, movie_path(review.movie) %></li>
      <% end %>
    </ul>
  </div>
</div>
